pickle-mixin==1.0.2
matplotlib==3.5.1
networkx==2.6.3
argparse==1.4.0
PyYAML==6.0
scipy==1.2.3
joblib==1.1.0
tqdm==4.63.0
numpy==1.22.0
pandas==1.4.1
scikit-MDR==0.4.4
deap==1.3.1
update-checker==0.18.0
stopit==1.1.2
TPOT==0.11.7
seaborn==0.11.2
xgboost
tensorflow
pytest
pypiwin32